*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --navbar-height: 56px;

    --fs-800: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1.4rem;
    --fs-300: 1.3rem;
    --fs-200: 1.2rem;


    /* Test 1 */
    /* --dark-color: rgb(255, 146, 255);
    --mid-color:#fcabfc;
    --light-color:#FAC6FA; */

    /* Test 2 */
    --first-color: #ef8fa4 ;
    --second-color: #f4a9b9 ;
    --third-color: #f7cbde ;
    --fourth-color: #fcb7a4 ;
    --five-color: #ffd6b7 ;
    --six-color: #fcfbf9;  

    /* Negro y Gris */
    /* --dark-color: rgb(33,33,33);
    --mid-color:rgb(60,60,60);
    --light-color: rgb(120,120,120); */
}

body{
    font-family: 'Montserrat';
    margin: 0;
    background-color: var(--first-color);
    overflow: hidden;
}

.fs-2{
    font-size: var(--fs-200);
}

.fs-3{
    font-size: var(--fs-300);
}

.fs-4{
    font-size: var(--fs-400);
}

.fs-5{
    font-size: var(--fs-500);
}

.fs-8{
    font-size: var(--fs-800);
}

nav{
    top: 0;
    position: sticky;
    background-color: var(--second-color);
    min-block-size: var(--navbar-height);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.start-nav{
    min-inline-size: 60%;
}

.nav-link{
    text-align: center;
    color: var(--six-color);
    text-decoration: none;
    padding-inline: 2rem;
} 

.grid-container{
    display: grid;
    block-size: calc(100vh - var(--navbar-height));
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: 1fr;
}

.start-wrapper{
    background-color: var(--fourth-color);
}
